html, body {
	font-family: 'Zilla Slab', serif;
}

.accordion-button:focus {
	border-color: gray;
}

.accordion-button:not(.collapsed) {
	color: black;
}

.accordion-button_img {
	margin-right: 10px;
}

.render {
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
}