html, body {
	font-family: 'Zilla Slab', serif;
}

.accordion-button:focus {
	border-color: gray;
}

.accordion-button:not(.collapsed) {
	color: black;
}

.accordion-button_img {
	margin-right: 10px;
}

.render {
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
}
.render img {
		cursor: pointer;
		transition: 0.2s;
}
.render img:hover {
	transform: scale(1.2);
}

.wrapper {
	text-align: center;
	margin-top: 20px;
}

audio {
	margin-bottom: 20px;
}